<footer>
  <div class="flex justify-center">
    <div>
      <div class="text-xl font-bold my-2">Cities with Food Delivery</div>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
        @for(city of cityList ; track city.id){
        <div class="border-2 rounded-md p-2 flex justify-center">
          Order food Online in {{ city.name }}
        </div>
        }
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-4">
    <div>
      <div class="text-xl font-bold my-2">Cities with Grocery Delivery</div>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
        @for(city of cityList ; track city.id){
        <div class="border-2 rounded-md p-2 flex justify-center">
          Order Grocery Delivery in {{ city.name }}
        </div>
        }
      </div>
    </div>
  </div>
</footer>
